  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        <!-- 投稿したユーザー名情報を出力する -->
        <%# メッセージを表示させるのに必要な情報を記述しましょう %>
        <%# messagesテーブルのuser_idに紐付いているユーザー名を、user.nameと記述することで取得しています %>
        <%= message.user.name %>
      </div>
      <div class="message-date">
        <!-- 投稿した時刻を出力する -->
        <%# messagesテーブルのcreated_atカラムから、投稿した時刻を取得しています。 %>
        <%# l（エル）メソッドは、日付や時刻を表示するRailsのメソッドです %>
        <%= l message.created_at %>
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        <!-- 投稿したメッセージ内容を記述する -->
        <%# messagesテーブルのcontentカラムから、メッセージの内容を取得しています。 %>
        <%= message.content %>
      </div>
      <%# 保存した画像をブラウザ上で表示させるために、ビューファイルに画像を表示させるヘルパーメソッドであるimage_tagを使用して、簡単に画像を参照します。 %>
      <%# しかし、このままの記述では、画像が存在しない場合でも、画像を表示する記述が読み込まれて、エラーを引き起こしてしまいます。
      この問題を解決するために、メッセージに画像が添付されているかをチェックするattached?というメソッド(レコードにファイルが添付されているかどうかで、trueかfalseを返すメソッド)
      を使用します。 %>
      <%# variantメソッドを使用することで、ファイルの表示サイズを指定 %>
      <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
      <%# 画像が存在する場合のみimage_tagが読み込まれるようになります。 %>
    </div>
  </div>
