<%# サイドバー上部 %>
<div class="side-bar-header">
  <div class="header-name">
    <%# 仮で作った<a>タグを削除 <a href="#">Tom</a> %>
    <%# 「rails routes」コマンドを実行し、どのようなリンク先を指定すれば、該当のアクションが動くのか確認します
    link_toのパスを、ログインしているユーザーの編集をするため 、edit_user_path(current_user)と指定します。current_user.nameは、ログインしているユーザー名です。 %>
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<%# サイドバー下部 %>
<div class="rooms">
  <%# チャットルーム１つ１つのdiv作成 %>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>