<%# サイドバー上部 %>
<div class="side-bar-header">
  <div class="header-name">
    <%# 仮で作った<a>タグを削除 <a href="#">Tom</a> %>
    <%# 「rails routes」コマンドを実行し、どのようなリンク先を指定すれば、該当のアクションが動くのか確認します
    link_toのパスを、ログインしているユーザーの編集をするため 、edit_user_path(current_user)と指定します。current_user.nameは、ログインしているユーザー名です。 %>
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <%# 「rails routes」を実行してrooms#newのpathを調べます %>
    <%# この<a>タグを削除  <a href="#">チャットを作成する</a> %>
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<%# サイドバー下部 %>
<div class="rooms">
  <%# チャットルーム１つ１つのdiv作成 %>
  <%# 「eachメソッド」を使って全てのチャットルームに対して同じ処理を繰り返し実行します。 %>
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%# room.nameの「name」は、roomsテーブルのカラム名 %>
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
</div>