<%# これまでは、ルートパスにアクセスがあったらmessagesコントローラーのindexアクションを動かすように設定していました。
つまり、「メッセージ一覧画面」がルートパスの表示でした。 %>
<%# しかし本来は、まず「チャットルーム一覧画面」（右側が何もない画面）が表示され、その中からチャットルームをクリックしたとき、
はじめて「メッセージ一覧画面」が表示されるべきです %>
<div class='wrapper'>
  <div class='side-bar'>
    <%= render "messages/side_bar" %>
  </div>
</div>